<header>
  <h1>Hacker News</h1>
  <p>
    <a href="#posts">new</a>
    <a href="#">comments</a>
    <a href="#">popular</a>
    <a href="#">login</a>
  </p>
</header>


<div class='post-container'>
  <% @posts.each do |post| %>

    <article id="<%= post.id %>">
      <h2><%=link_to post.title, posts_show_path(post)%></a></h2>
      <p>
        <span class='username'><%= post.user.username %></span>

        <a class="delete" href='/posts/<%= post.id %>'>Delete</a>
      </p>
    </article>

  <% end %>
</div>

<%=form_for :post, url: posts_new_path do |f| %>
  <%=f.text_field :title%>
  <%=f.text_field :content%>
  <%=f.submit%>
<%end%>
